
body {
    font-family: 'Spectral', sans-serif;
    line-height: 1.6;
    margin:  0em;
    background-color: #f4f4f4;
    font-size: large;
    
}
/* h2{
    margin: auto;
    padding: auto;
    color: #000000;
} */

/* Mobile styles */
@media (max-width: 768px) {
    body {
        margin: 0 2em;
        font-size: medium;
    }
}

header {
    background: #eeeeee;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

article {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* code container */
.code-container {
    background-color: #333;
    color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
}
.code-container h3 {
    margin-top: 0;
    color: #f7f7f7;
}

/* code container ends here */
/* Table starts here */
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { padding: 5px; text-align: left; border-bottom: 1px solid #ddd; }
        th { background-color: #333; color: #fff; }
        tr:hover { background-color: #f1f1f1; }
/* table ends here */
/* Formula */
.formula {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
}
.average-symbols{
    font-size: 1em;
    color: #333;
    margin-top: 20px;

}
.custom-image{
    width: 50em;
    height: auto;
}
h1 {
    color: #ffffff;
}

.post-meta {
    font-size: 0.9em;
    color: #6b6b6b;
}     

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 6px 6px;
    font-size: 16px;
    color: white;
    background-color: #5f6164;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color: #f59657;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    .back-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
/* Scroll to Top Button */
.scroll-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #369b8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #555;
}
.back-button-image {
    width: 40px;  
    height: auto; 
    align-content: end;
}
.center-container {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: auto;
}


